{% extends 'layout/base.html.twig' %}

{% block title %}{{ category.name }} category
{% endblock %}

{% block body %}

<div><h1>{{ category.name }}  category</h1>

 {# <h1><a href="{{ path('app_login') }}">ajouter un neveaux post</a></h1>#}
 <h3><a href="{{ path('app_category_new') }}">ajouter une nouvelle catégorie </a></h3></div>
 </div> 
<br><br><br><br><br>

<div class="container">
	<div class="row row-cols-1 row-cols-md-3 g-4 ">
    {% for _news in news %}
        <div class="col">
		   
			<div class="card h-100">
			<div     class="card-header  post-category text-white bg-success mb-3">{{ _news.Category }}</div><a href="{{ path('app_new_show',{'id':_news.id}) }}">		 <img class="img-fluid rounded" src="{{ vich_uploader_asset(_news, 'imageFile') }}"></a>
		
				<div class="card-body">
                
					<h5 class="card-title"><a href="{{ path('app_new_show',{'id':_news.id}) }}">{{ _news.title }}</a></h5>
					<p class="card-text">{{ _news.description | slice(0,50) }}...</p>
                    <p><a href="{{ path('app_new_show',{'id':_news.id}) }}">Read More</a></p>
				</div>
				<div class="card-footer">
					<small class="text-muted">{{ _news.createdAt|ago }}</small>
                 
                    {# <small class="text-muted" >{{ _news.updatedeAt|ago }}</small> #}
				</div>
			</div>
		</div>
    {% endfor %}
		

	</div>
    </div>
{% endblock %}
