{% extends 'layout/base.html.twig' %}
{% block titel %}
	{{ single_nwes.title }}
{% endblock %}

{% block body %}


	<body class="article-pg">


		<div class="container-fluid ar-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 pr-5">
						<div class="card ar-img-over">
							<img class="card-img" src="{{ vich_uploader_asset(single_news, 'imageFile') }}" alt="">
							<div class="card-img-overlay">
								<a href="#" class="d-flex align-items-center justify-content-center"><img src="{{ asset('assets/images/full-screen.png') }}" alt=""></a>
							</div>
						</div>
						<div class="row date-time mt-3">

							<div class="col text-white">
								<a href="#">
									<i class="fas fa-retweet"></i>
									Share</a>
							</div>
							<div class="col text-right">
								<a href="#">
									{{ single_news.createdAt|ago }}
									<i class="far fa-comments"></i>
								</a>
							</div>
						</div>


						<div class="media my-5">
							<div class="q-box d-flex align-items-center justify-content-center"><img src="{{ asset('assets/images/quote.png') }}" alt=""></div>
							<div class="bbg media-body">
								<h2 class="mb-0">{{ single_news.title }}</h2>

							</div>
						</div>

						<p>
							{{ single_news.description }}
						</p>


						<div class="comment-section mt-5">
							<h3> Comments</h3>
                           

							<hr class="ml-0"/>
	{% for comment in comments %}
							<div class="media py-5 bottom-border">
								<div class="card mr-4">
									<img src="assets/images/comment-user3.png" alt="" class="card-img">
									<div class="card-img-overlay"></div>
								</div>
							


									<div class="media-body">
										<div class="row">
											<div class="col text-left">
												<h4>{{ comment.author.firstName  }}</h4>
											</div>
											<div class="col text-right">
												<p class="my-0">
													<span>{{ comment.createdAt|ago }}</span>
													<a href="#" class="ml-3">Reply</a>
												</p>
											</div>
										</div>
										<p>{{ comment.content }}</p>

									</div>
								
							</div>
{% endfor %}

						</div>
						<div class="comment-form-warp pt-5">
							<h3>Add Comments</h3>
							{% if app.user %}
								{{ form_start(form) }}
								<div class="container">
									{{ form_widget(form.content,{'attr':{'class':'form form-control','placeholder':'comment'}}) }}
									<input class="btn btn-primary" type='submit' value="save">
								</div>
								{{ form_end(form) }}
							{% else %}
								<div>you be must logged in to leave a comment-<a href="{{path('app_login')}}">login</a>
								</div>
							{% endif %}

						</div>
						{# message flash #}
						{% for type,messages in app.flashes(['success','danger','info']) %}
							{% for message in messages %}
								<div class="alert alert-{{ type }} text-center mb-0">{{ message }}</div>

							{% endfor %}


						{% endfor %}
					</div>

					<div class="col-lg-3 pl-0">
						<div class="sidebar">
							<h3 class="text-center text-white">Top Authors</h3>
							<hr class="bg-white"/>

							<div class="owl-carousel owl-carousel4 owl-theme">
								<div>
									<div class="card pb-5">
										<img class="card-img link-img rounded" src="{{ asset('assets/images/carlla-willstons.jpg') }}" alt="">
									</div>
								
									<p class="text-center mt-1 third-clr">Reporter</p>
								</div>

								<div>
									<div class="card pb-5">
										<img class="card-img link-img rounded" src="assets/images/carlla-willstons.jpg" alt="">
									</div>
									<h3 class="text-center mt-3 mb-0">Carlla Willstons</h3>
									<p class="text-center mt-1 third-clr">Reporter</p>
								</div>

								<div>
									<div class="card pb-5">
										<img class="card-img link-img rounded" src="assets/images/carlla-willstons.jpg" alt="">
									</div>
									<h3 class="text-center mt-3 mb-0">Carlla Willstons</h3>
									<p class="text-center mt-1 third-clr">Reporter</p>
								</div>

								<div>
									<div class="card pb-5">
										<img class="card-img link-img rounded" src="assets/images/carlla-willstons.jpg" alt="">
									</div>
									<h3 class="text-center mt-3 mb-0">Carlla Willstons</h3>
									<p class="text-center mt-1 third-clr">Reporter</p>
								</div>
							</div>


							<div class="owl-carousel bg-gray owl-carousel5 owl-theme my-5 pb-5">
								<div>
									<div class="card bg-gray">
										<h3 class="text-center mt-3 mb-0">Twitter Posts</h3>
										<hr class="mx-auto"/>
										<p class="text-center mt-1">To take a trivial example, which of us ever undertakes
																																												                                        laborious physical exercise, some advantage from it?
										</p>
										<p class="text-center my-1">
											<span>14 minutes ago</span>
										</p>
									</div>

								</div>
								<div>
									<div class="card bg-gray">
										<h3 class="text-center mt-3 mb-0">Twitter Posts</h3>
										<hr class="mx-auto"/>
										<p class="text-center mt-1">To take a trivial example, which of us ever undertakes
																																												                                        laborious physical exercise, some advantage from it?
										</p>
										<p class="text-center my-1">
											<span>14 minutes ago</span>
										</p>
									</div>

								</div>
								<div>
									<div class="card bg-gray">
										<h3 class="text-center mt-3 mb-0">Twitter Posts</h3>
										<hr class="mx-auto"/>
										<p class="text-center mt-1">To take a trivial example, which of us ever undertakes
																																												                                        laborious physical exercise, some advantage from it?
										</p>
										<p class="text-center my-1">
											<span>14 minutes ago</span>
										</p>
									</div>

								</div>
								<div>
									<div class="card bg-gray">
										<h3 class="text-center mt-3 mb-0">Twitter Posts</h3>
										<hr class="mx-auto"/>
										<p class="text-center mt-1">To take a trivial example, which of us ever undertakes
																																												                                        laborious physical exercise, some advantage from it?
										</p>
										<p class="text-center my-1">
											<span>14 minutes ago</span>
										</p>
									</div>

								</div>


							</div>

							<h3 class="text-center">Follow Us</h3>
							<hr class="mx-auto"/>
							<nav class="nav nav-fill mx-auto mb-5">
								<li class="nav-item">
									<a class="nav-link" href="https://facebook.com/fh5co" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="https://twitter.com/fh5co" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<i class="fas fa-rss"></i>
									</a>
								</li>
							</nav>

							<h3 class="text-center">Instagram</h3>
							<hr class="mx-auto"/>
							<div class="row insta-links mt-2">
								<div class="col-md-4 col-sm-6 col-6">
									<div class="card">
										<img class="card-img w-100" src="assets/images/insta1.png" alt="">
										<div class="card-img-overlay d-flex justify-content-center align-items-center">
											<a href="#"><img src="assets/images/right-icon.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-6">
									<div class="card">
										<img class="card-img w-100" src="assets/images/insta2.png" alt="">
										<div class="card-img-overlay d-flex justify-content-center align-items-center">
											<a href="#"><img src="assets/images/right-icon.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-6">
									<div class="card">
										<img class="card-img w-100" src="assets/images/insta3.png" alt="">
										<div class="card-img-overlay d-flex justify-content-center align-items-center">
											<a href="#"><img src="assets/images/right-icon.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-6">
									<div class="card">
										<img class="card-img w-100" src="assets/images/insta4.png" alt="">
										<div class="card-img-overlay d-flex justify-content-center align-items-center">
											<a href="#"><img src="assets/images/right-icon.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-6">
									<div class="card">
										<img class="card-img w-100" src="assets/images/insta5.png" alt="">
										<div class="card-img-overlay d-flex justify-content-center align-items-center">
											<a href="#"><img src="assets/images/right-icon.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-6">
									<div class="card">
										<img class="card-img w-100" src="assets/images/insta6.png" alt="">
										<div class="card-img-overlay d-flex justify-content-center align-items-center">
											<a href="#"><img src="assets/images/right-icon.png" alt=""></a>
										</div>
									</div>
								</div>
							</div>

							<h3 class="text-center mt-5">Trending Posts</h3>
							<hr class="mx-auto"/>
							<div class="tranding-posts mt-4">
								<div class="media my-3">
									<div class="d-flex align-items-center justify-content-center">
										<a href="#"><img src="assets/images/t-post1.png" alt=""></a>
									</div>
									<div class="media-body text-center d-flex align-items-center justify-content-center flex-column px-3">
										<a href="#">The latest trends
																																												                                        in Travel</a>
										<p class="mt-1">08 Jan 2019</p>
									</div>
								</div>
								<div class="media my-3">
									<div class="d-flex align-items-center justify-content-center">
										<a href="#"><img src="assets/images/t-post2.png" alt=""></a>
									</div>
									<div class="media-body text-center d-flex align-items-center justify-content-center flex-column px-3">
										<a href="#">Effective fine art
																																												                                        design</a>
										<p class="mt-1">08 Jan 2019</p>
									</div>
								</div>
								<div class="media my-3">
									<div class="d-flex align-items-center justify-content-center">
										<a href="#"><img src="assets/images/t-post3.png" alt=""></a>
									</div>
									<div class="media-body text-center d-flex align-items-center justify-content-center flex-column px-3">
										<a href="#">How to design
																																												                                        your first PSD?</a>
										<p class="mt-1">08 Jan 2019</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container-fluid jumbotron-fluid stay mt-5 pt-5 pb-5">
			<h2 class="text-center">Stay Updated</h2>
			<p class="text-center mt-2">Sign up for our newsletter to receive the latest news and event postings.</p>
			<div class="input-group mt-4 mx-auto" style="max-width: 640px">
				<input type="email" class="form-control" placeholder="YOUR EMAIL ADDRESS">
				<div class="">
					<button class="btn btn-success ml-2" type="submit">SIGN UP</button>
				</div>
			</div>
		</div>


	</body>


{% endblock %}
