{% extends 'layout/base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}


	<div class="login-form">
		<h1>Register</h1>
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email,{'attr':{'class':'form form-control'}}) }}
		{{ form_row(registrationForm.firstName,{'attr':{'class':'form form-control'}}) }}
		{{ form_row(registrationForm.lastName,{'attr':{'class':'form form-control'}}) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password','attr':{'class':'form form-control'}
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}
		<a href=" ">forgot password</a>

		<button type="submit" class="btn btn-primary btn-block ">Register</button>
		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
{% block footer %}{% endblock %}
