{% extends 'layout/base.html.twig' %}

{% block title %}Reset your password
{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	
	<div class="login-form"><h1>Reset your password</h1>
    {{ form_start(requestForm) }}
		{{ form_row(requestForm.email,{'attr':{'class':'from from-control'}}) }}
		<div>
			<small>
				Enter your email address and we will send you a
				                link to reset your password.
			</small>
		</div>

		<button class="btn btn-primary btn btn-block">Send password reset email</button>
		{{ form_end(requestForm) }}</div>


{% endblock %}
{% block footer %}{% endblock %}
