{% extends 'layout/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block navbar %}{% endblock %}
{% block body %}
<div class="login-form"><h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword,{'attr':{'class':'from from-control'}}) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}</div>
    
{% endblock %}
{% block footer %}{% endblock %}