{{ form_start(form) }}
<h5>name</h5>
    {{ form_widget(form.name,{'attr':{'class':'form form-control'}}) }}
    <br>
    <button class="btn btn-primary">{{ button_label|default('Save category') }}</button>
{{ form_end(form) }}
