{% extends 'layout/base.html.twig' %}

{% block title %}Create new Category
{% endblock %}

{% block body %}
<div class="container"><h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">back to list</a></div>

    
{% endblock %}
