<header class="mt-0 pt-0">
	<div class="bg-cover clearfix pt-3">
		<h2 class="logo">Djaz Fachion</h2>
		<nav class="nav nav-fill mx-auto">
			<li class="nav-item">
				<a class="nav-link" href="https://facebook.com/fh5co" target="_blank">
					<i class="fab fa-facebook-f"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://twitter.com/fh5co" target="_blank">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fab fa-google-plus-g"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fas fa-rss"></i>
				</a>
			</li>
		</nav>

		<input type="text" id="nav-search" class="nav-search mx-auto" name="" class="form-control">
		<div class="ml-0 mr-0 pb-1">
			<nav class="navbar navbar-expand-md">

				<button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" onclick="myFunction(this)" aria-label="Toggle navigation">
					<span class="bar1"></span>
					<span class="bar2"></span>
					<span class="bar3"></span>
				</button>
				<div id="my-nav" class="collapse navbar-collapse">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_home_page') }}">Home</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_news_new') }}">News</a>
						</li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Category</a>
							<div
								class="dropdown-menu shadow-sm m-0">
								{# <div> <div><a href="{{ path('app_category_new') }}">new Category</a></div> #}
								{% for link in categoryList  %}
									<div>
										<a href="{{ path('app_new_by_category_show',{'id':link.id}) }}">{{ link.name }}</a>
									</div>
								{% endfor %}

								<div></div>

							</li>
							{# <li class="nav-item">
																					<a class="nav-link" href="#">TECH</a>
																				</li> #}
						</li>
                        <li class="nav-item">
							<a class="nav-link" href="{{ path('app_contact') }}">contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">login up</a>
						</li>
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
							</li>
							<li class="nav-item ">
                         
								<a class="nav-link logo">
									{{ app.user.firstName  }}
									{{  app.user.lastName }}</a>
							</li>
						{% endif %}
					</ul>
                    
				</div>
			</nav>
		</div>
	</div>
</header>
