<div class="tabel">
{{ form_start(form) }}
<div class="container"><label for="">titre de la news</label>
    {{ form_widget(form.title,{'attr':{'class':'form form-control'}}) }}
     {{ form_row(form.description,{'attr':{'class':'form form-control'}}) }}
          {{ form_row(form.category,{'attr':{'class':'form form-control'}}) }}
      {{ form_row(form.imageFile,{'attr':{'class':'form form-control'}}) }}

      
    <button class="btn btn-primary" style="padding:5px 40px">{{ button_label|default('Save') }}</button></div>

{{ form_end(form) }}</div>



