{% extends 'layout/base.html.twig' %}
{% block title %} Update news {% endblock %}
{% block body %}
<div class="container">
    <h1>Edit News</h1>

    {{ include('news/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_news_index') }}">back to list</a>

    {{ include('news/_delete_form.html.twig') }}
    </div>
    {% endblock %}
