{% extends 'layout/base.html.twig' %}

{% block body %}
    <h1>Create new News</h1>

    {{ include('news/_form.html.twig') }}

    <a href="{{ path('app_news_index') }}">back to list</a>
{% endblock %}
