{% extends 'layout/base.html.twig' %}

{% block body %}
<div class="container"> <br><br><br><br><br> 
  <h1>News</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ news.description }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ news.imageName }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedeAt</th>
                <td>{{ news.updatedeAt ? news.updatedeAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_news_index') }}">back to list</a>

    <a href="{{ path('app_news_edit', {'id': news.id}) }}">edit</a>

    {{ include('news/_delete_form.html.twig') }}
    </div>
{% endblock %}