{% extends 'layout/base.html.twig' %}

{% block title %}contact
{% endblock %}





{% block body %}


    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-6">Contact Us</h1>
                    <p class="text-primary fs-5 mb-0">If You Have Any Query, Please Contact Us</p>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a class="btn btn-primary py-3 px-4" href="">Say Hello</a>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="mb-2">address:</p>
                    <h4>{{ contact_address }}</h4>
                    <hr class="w-100">
                    <p class="mb-2">phone:</p>
                    <h4>{{ contact_phone }} </h4>
                    <hr class="w-100">
                    <p class="mb-2">Mail us:</p>
                    <h4>{{ contact_email }}</h4>
                    <hr class="w-100">
                    <p class="mb-2">Follow us:</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                  
                    {{ form_start(form) }}

                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                 {{ form_row(form.firstName,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                                <div class="col-md-6">
                                <div class="form-floating">
                                 {{ form_row(form.lastName,{'attr':{'class':'form-control'}}) }}
                                
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                               {{ form_row(form.email,{'attr':{'class':'form-control'}}) }}
                                   
                                </div>
                            </div>
                            {# <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div> #}
                            <div class="col-12">
                                <div class="form-floating">
                                {{ form_row(form.message,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div> 
                            <div class="col-12">
                                <button class="btn btn-primary " type="submit">Envoyer</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}

