<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}news plus
			{% endblock %}
		</title>
		<title>CryptoCoin - Free Cryptocurrency Website Template</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="keywords">
		<meta
		content="" name="description">

		<!-- Favicon -->
		<link
		href="img/favicon.ico" rel="icon">

{# article #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css1/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{asset('assets/css1/style.css') }}">

		<!-- Google Web Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

		<!-- Icon Font Stylesheet -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

		<!-- Libraries Stylesheet -->
		<link href="{{ asset('assets/lib/animate/animate.min.css') }}" rel="stylesheet">
		<link
		href="{{ asset('assets/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

		<!-- Customized Bootstrap Stylesheet -->
		<link
		href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

		<!-- Template Stylesheet -->
		<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
	</head>


	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html></head><body>

<div>
{% block navbar %}
    {% include "layout/partials/header.html.twig" %}
{% endblock %}

	
	{% block body %}{% endblock %}
    {% block footer %}
        {% include "layout/partials/footer.html.twig" %}
    {% endblock %}
	
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ asset('assets/lib/wow/wow.min.js') }}"></script>
<script src="{{ asset('assets/lib/easing/easing.min.js') }}"></script>
<script src="{{ asset('assets/lib/waypoints/waypoints.min.js') }}"></script>
<script src="{{ asset('assets/lib/owlcarousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/lib/counterup/counterup.min.js') }}"></script>



<script src="{{ asset('assets/js1/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js1/jquery-1.12.0.min.js') }}"></script>
    <script src="{{ asset('assets/js1/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js1/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js1/article.js') }}"></script>









<!-- Template Javascript -->
<script src="{{ asset('assets/js/main.js') }}"></script></body></html>
